* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan";
  list-style: none;
}

/*  VARIABLES : */
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --secondayGrey: #ccc;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  font-family: "iranyekan";
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
}
.todo-container {
  margin-top: 1rem;
  width: 25rem;
}
form {
  width: 25rem;
  background-color: var(--mainWhite);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--secondayGrey);
  overflow: hidden;
}
form input {
  flex: 1;
  font-weight: bold;
}

form input,
form button {
  border: none;
  outline: none;
  background-color: none;
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  color: var(--primaryColor);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}
.todo {
  background-color: var(--mainWhite);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
}
.todo .todo__title {
  color: var(--primaryColor);
  font-weight: bold;
  flex: 1;
}

.todo button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.fa-trash-alt {
  color: var(--mainRed);
}
.fa-check-square {
  color: var(--primaryColor);
}
.fa-pen-to-square {
  color: #e85d04;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  color: var(--primaryColor);
}

.select {
  margin-left: 1rem;
  background-color: #fff;
  cursor: pointer;
  width: 10rem;
  position: relative;
  border: 2px solid var(--secondayGrey);
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--primaryColor);
  pointer-events: none;
}

button {
  border: none;
  outline: 0;
}
button > i {
  pointer-events: none;
}

/* edit feature ! */

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8f8f8f;
  filter: blur(px);
  opacity: 0.5;
  z-index: 10;
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 11;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  display: none;
}
.edit-title {
  font-size: 2rem;
  margin: 2rem 0;
}
.close-modal {
  background: transparent;
  padding: 0.5rem;
  position: absolute;
  right: 2px;
  top: 2px;
  overflow: hidden;
  cursor: pointer;
}
